#drawToolsSyncBox {
	display: none;
	position: absolute!important;
	z-index: 5001;
	top: 50px;
	left: 60px;
	width: 200px;
	height: 250px;
	overflow: hidden;
	background: rgba(8, 48, 78, .9);
	border: 1px solid #20a8b1;
	color: #ffce00;
	padding: 8px;
	font-size: 13px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#drawToolsSyncBox #drawToolsSyncTopBar {
	height: 15px!important
}

#drawToolsSyncBox #drawToolsSyncTopBar * {
	height: 14px!important
}

#drawToolsSyncBox .handle {
	width: 89%;
	text-align: center;
	color: #fff;
	line-height: 6px;
	cursor: move;
	float: right
}

#drawToolsSyncBox #drawToolsSyncTopBar .btn {
	display: block;
	width: 10%;
	cursor: pointer;
	color: #20a8b1;
	font-weight: 700;
	text-align: center;
	line-height: 13px;
	font-size: 18px;
	border: 1px solid #20a8b1;
	float: left
}

#drawToolsSyncBox #drawToolsSyncTopBar .btn:hover {
	color: #ffce00;
	text-decoration: none
}

#drawToolsSyncBox #drawToolsSyncTitle {
	font-size: 12px;
	padding-top: 5px;
}

#drawToolsSyncBox #drawToolsSyncList {
	clear: both;
	margin-top: 8px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	border-bottom: 1px solid #20A8B1;
}

#drawToolsSyncBox #drawToolsSyncLock {
	display: none;
	position: absolute!important;
	left: 0;
	top: 26px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

#drawToolsSyncBox #drawToolsSyncLock svg {
	display: block;
	margin: auto;
	margin-top: 80px;
}

#drawToolsSyncBox #drawToolsSyncAuth {
	padding-top: 24px;
}

#drawToolsSyncBox #drawToolsSyncAuth a {
	display: block;
	color: #ffce00;
	border: 1px solid #ffce00;
	padding: 3px 0;
	margin: 10px auto;
	width: 80%;
	text-align: center;
	background: rgba(8,48,78,.9);
}

.drawToolsSyncItem {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 4px;
	background: rgba(8,48,78,.75);
	cursor: pointer;
	color: #fff;
}

.drawToolsSyncItem:hover {
	background: rgba(4,24,39,1);
}

#drawToolsSyncLoadPanel {
	padding-top: 8px;
}

#drawToolsSyncLoadPanel label {
	display: block;
	float: left;
	padding-top: 2px;
	padding-left: 5px;
}

#drawToolsSyncLoadPanel input {
	display: block;
	float: left;
}

#drawToolsSyncSaveName {
	width: 100px;
	height: 18px;
}

#drawToolsSyncSavePanel {
	padding-top: 6px;
	text-align: center;
}

#drawToolsSyncSavePanel input {
	color: #fff;
}

#drawToolsSyncSavePanel button {
	color: #ffce00;
	border: 1px solid #ffce00;
	text-align: center;
	background: rgba(8,48,78,.9);
}

.drawToolsSyncDeleteButton {
	float: left;
	width: 14px;
	height: 14px;
	border: 1px solid #f33;
	background: #000;
	color: #f33;
	text-align: center;
	font-weight: bold;
	margin-right: 8px;
}

.drawToolsSyncDeleteButton:hover {
	background: #900;
}

.drawToolsSyncBoxLoadMode {
}

.drawToolsSyncBoxSaveMode {
}

@media only screen and (max-width: 600px) {
	#drawToolsSyncBox {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border: 0px;
	}

	#drawToolsSyncBox #drawToolsSyncTopBar {
		display: none;
	}

	#drawToolsSyncBox #drawToolsSyncLock svg {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -25px;
		margin-top: -25px;
	}

	#drawToolsSyncBox #drawToolsSyncList {
		clear: both;
		margin-top: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		padding: 8px;
		box-sizing: border-box;
		overflow-x: hidden;
		overflow-y: auto;
		border-bottom: 0px;
		font-size: 22px!important;
	}

	#drawToolsSyncBox #drawToolsSyncLock {
		top: 0px;
	}

	.drawToolsSyncItem {
		font-size: 22px;
	}

	.drawToolsSyncDeleteButton {
		width: 22px;
		height: 22px;
		font-size: 18px;
		border: 2px solid #f33;
	}

	.drawToolsSyncBoxSaveMode #drawToolsSyncList {
		top: 48px!important;
		height: calc(100% - 48px)!important;
	}

	#drawToolsSyncSavePanel {
		font-size: 22px;
	}

	#drawToolsSyncSavePanel input {
		font-size: 22px;
		width: 200px;
		height: 28px;
	}

	#drawToolsSyncSavePanel button {
		font-size: 20px;
		height: 28px;
	}
}